.place__paragraphs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



/*@media screen and (max-width: 1024px) {*/
/*    .place__paragraphs {*/
/*        padding: 0 32px 0;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*    .place__paragraphs {*/
/*        padding: 0 28px 0;*/
/*    }*/
/*}*/