.cover {
    margin: 92px auto;
    width: 100%;
    max-width: 1184px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    background-image: url('../../images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.cover::before {
    content: " ";
    position: absolute;
    max-width: 1184px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: .3;
    transition: .3s linear;
}

.cover:hover{
    opacity: .8;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 100%;
    }
}
