.cover__overlay {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    text-decoration: none;
    align-items: center;
    background: rgba(42, 44, 47, 0.3);
}


.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
}