.place__url-heading {
    padding: 0 0 12px;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
}